/* base.html */
.page-header, .page-footer {
    background-color: white;
    color: black;
    font-size: 10pt;
    margin: 1%;
    padding: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
    font-size: 8pt;
}

.page-header p {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75%;
}

.page-footer {
    margin-left: auto;
    margin-right: auto;
}

.btn,
a.btn,
button.btn {
    line-height: 1.5;
    position: relative;
    padding: 0.1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 0.2rem;
}

a.btn-radius-solid {
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px #fff;
}

a.btn-radius-solid:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}








/* main.html */
.main {
    margin: 0px;
    padding: 0px;
    background-color: #fff1af;
    font-family: cursive;
}

.title {
    text-align: center;
    clear: both;
    font-size: 16pt;
    color: white;
    background-image: url(image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_title {
    margin: 0px;
    padding-top: 60%;
    padding-bottom: 2%;
}

.title h1 {
    font-size: 40pt;
    padding: 0px;
    margin: 0px;
}

.main_title_bottom {
    margin: 0px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.main_button {
    width: 40%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.start_button {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    background: rgba(255,241,175,0.5);
    border-color: black;
    border-radius: 10px;
    color: black;
    font-size: 20pt;
    text-decoration: none;
}

.purpose {
    padding-top: 2%;
}

.image2 {
    width: 50%;    
    padding-top: 2%;
    float: left;
}

.image2 img {
    width: 100%;
}

.purpose_document {
    padding-left: 60%;
    padding-right: 10%;
    text-align: left;
    font-size: 14pt;
}

.purpose_document h1 {
    font-size: 18pt;
    margin-top: 10%;
}

/*.purpose_document h2 {
    font-size: 14pt;
    margin: 3%;
} */
.purpose_document h2 {
    margin: 3%;
    float: left;
    color: #bac6a6;
    background-color: #bac6a6;
}









/* post.html */
/* post_list,mid_post_list,last_post_list */

.green {
    /*background: linear-gradient(#CBFFD3,#007700);*/
    background-color: #f1f1f1;
    font-size: 20pt;
    color: black;
    margin: 0px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.posts {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.post {
    width: 33%;
    height: 40%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.post p {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_button {
    width: 100%;
    height: 350px;
    background: #cceb9b;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40pt;
    text-decoration: none;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}








/* post_edit */
/* servey_form */
/* post_detail */

.servey_form {
    background-color: white;
}

.apply {
    background-color: white;
    color: black;
    font-size: 12pt;
    text-align: center;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
}

.servey_form h1, .apply h1 {
    font-size: 24pt;
    text-align: center;
    width: 100%;
}

.servey_form_txt p {
    font-size: 16pt;
    text-align: center;
    width: 100%;
}

.post-form textarea, .post-form input {
    width: 80%;
    padding-left: auto;
    padding-right: auto;
}

.post-form p {
    margin-top: 10%;
}

.submit_button {
    width: 25%;
    line-height: 1.5;
    position: relative;
    padding: 0.1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 0.2rem;
}

.form-control input {
    width: 5%;
}

.apply_button {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.app_button {
    text-decoration: none;
    font-size: 18pt;
    background-color: yellow;
    border: 0.1%;
    border-color: black;
    width: 100%;
    height: 100%;
}








/* post_result */
/* post_place */

.result {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    background-color: #fff1af;
    font-size: 16pt;
    color: black;
    margin: 0px;
    clear: both;
}

.result p {
    margin: 0px;
}

.result h1 {
    font-size: 20pt;
    padding-left: 5%;
    text-align: left;
    color: black;
}

.result h2 {
    margin-top: -1%;
    float: left;
    color: #bac6a6;
}

.make_blank {
    padding-top: 5%;
    padding-bottom: 10%;
}

.illustration {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
}

/*.result_list {
    text-decoration: none;
    color: red;
}

.result_lists, .result_list p {
    text-decoration: none;
    font-size: 25pt;
    color: red;
    clear: both;
} */

.result_tit {
    background-color: #ffc286;
    padding-top: 3%;
    padding-bottom: 3%;
}

.result_tit p {
    float: left;
}

.result_tit h1 {
    background-color: #ffc286;
    font-size: 40pt;
    margin-top: auto;
    margin-bottom: auto;
}

.border {
    background-color: black;
    float: left;
    width: 50%;
}

.result_title_shot {
    float: left;
    width: 49%;
    background-color: #fff1af;
}

.result_detail h2 {
    
}

.result_detail p {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    padding-bottom: 4%;
    text-align: left;
}

.screenshot_image {
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
}

.illustration img, .screenshot_image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.result_voice {
}

.balloon {
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
}

.voice {
    margin-top: 3%;
    margin-bottom: 3%;
    overflow: auto;
    display: flex;
    align-items: flex-end;
}

.balloon .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
}

.balloon .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.balloon .chatting {
    width: 100%;
    text-align: left;
}

.says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: white;
    border-color: black;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
}

.says p {
    margin: 0;
    padding: 0;
}

.result h3 {
    width: 100%;
    height: 80px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.result_button {
    padding-top: 3%;
    padding-bottom: 10%;
    text-align: left;
    padding-left: 10%;
}

.re_button {
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #ffc286;
    border-color: black;
    border-radius: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 10pt;
    text-decoration: none;
}






/* aditional */

.blanck {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.not_new_line {
    white-space: nowrap;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
