.page-header, .page-footer {
    background-color: white;
    color: black;
    font-size: 1pt;
    margin: 1%;
    padding: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
    font-size: 3pt;
}

.page-header p {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75%;
}

.btn,
a.btn,
button.btn {
    line-height: 1.5;
    position: relative;
    padding: 0.1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.2rem;
}

a.btn-radius-solid {
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px #fff;
}

a.btn-radius-solid:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.green {
    background: linear-gradient(#CBFFD3,#007700);
    font-size: 20pt;
    color: black;
    margin: 0px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.posts {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.post {
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.post p {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_button {
    width: 100%;
    height: 350px;
    background: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20pt;
    text-decoration: none;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.result {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-size: 10pt;
    color: black;
    margin: 0px;
    clear: both;
}

.result p {
    margin: 0px;
}

.illustration {
    padding-top: 5%;
    padding-bottom: 10%;
}

.result_list {
    font-size: 16pt;
    color: red;
}

.result_detail {
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
}

.result_voice {
    margin: 2%;
}

.re_button {
    width: 40%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    background: yellow;
    border-color: black;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 10pt;
    text-decoration: none;
}

.result h3 {
    width: 100%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 20%;
}


.result h1 {
    font-size: 16pt;
    width: 70%;
    padding-left: 0px;
    text-align: left;
    margin: 2%;
    color: black;
    float: left;
}

.main {
    margin: 0px;
    padding: 0px;
}

.title {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    clear: both;
    font-size: 10pt;
    color: white;
}

.main_title {
    margin: 0px;
    padding-top: 100%;
    padding-bottom: 2%;
}

.title h1 {
    font-size: 24pt;
}

.main_title_bottom {
    margin: 0px;
    padding-top: 20%;
    padding-bottom: 100%;
}

.start_button {
    width: 20%;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
    background: yellow;
    border-color: black;
    color: black;
    font-size: 10pt;
    text-decoration: none;
}

.image2 {
    width: 100%;
}

.purpose_document {
    padding-left: 10%;
    padding-right: 10%;
}

.blanck {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.not_new_line {
    white-space: nowrap;
    text-align: center;
}
