.page-header, .page-footer {
    background-color: white;
    color: black;
    font-size: 1pt;
    margin: 1%;
    padding: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
    font-size: 3pt;
}

.page-header p {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75%;
}

.btn,
a.btn,
button.btn {
    line-height: 1.5;
    position: relative;
    padding: 0.1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.2rem;
}

a.btn-radius-solid {
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px #fff;
}

a.btn-radius-solid:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.green {
    background: linear-gradient(#CBFFD3,#007700);
    font-size: 20pt;
    color: black;
    margin: 0px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.post {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    justify-content: center;
}

.post_button {
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}


.blanck {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.not_new_line {
    white-space: nowrap;
    text-align: center;
}
