{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <div class="title">
            <div class="main_title">
                <h1>創価大学内</h1>
                <h1>機関</h1>
                <h1>マッチング</h1>
            </div>
            <p>創価大学GCP多様性グループ</p>
            <div class="main_title_bottom">
                <div class="main_button">
                    <p><a href="{% url 'post_list' %}" class="start_button">質問スタート</a></p>
                </div>
            </div>
        </div>

        <p class="blanck"></p>

        <div class="purpose">
            <a id="purpose"></a>
            <div class="image2">
                <img src="{% static 'image3.jpg' %}" />
            </div>
            <div class="purpose_document">
                <h1>プロジェクトの概要</h1>
                <h2>プロジェクトの目的</h2>
                <p>創価大学多様性グループは、「見えないところで困難を抱える人」の困難を取り除くことを目的に活動してきました。本プロジェクトでは、その「見えないところ」で困っている人、つまり学内機関とかかわりがない人を主なターゲットとし、学内機関と生徒との壁を取り除くことを目的としています。</p>
            </div>
        </div>
        <p class="blanck"></p>
    </div>
{% endblock %}




