{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <div class="title">
            <div class="main_title">
                <h1>創価大学内</h1>
                <h1>機関</h1>
                <h1>マッチング</h1>
            </div>
            <p>創価大学GCP多様性グループ</p>
            <div class="main_title_bottom">
                <div class="main_button">
                    <p><a href="{% url 'post_list' %}" class="start_button">質問スタート</a></p>
                </div>
            </div>
        </div>

        <p class="blanck"></p>

        <div class="purpose">
            <div class="image2">
                <img src="{% static 'image2.jpg' %}" />
            </div>
        </div>
    </div>
{% endblock %}




