{% extends 'blog/base.html' %}

{% block content %}
<div class="green">
    <div class="result">
        <div class="result_title">
            <h1>○学内機関の場所</h1>
            <p class="blanck"></p>
            <p>あなたにマッチした学内機関は</p>
        </div>
        <div class="result_list">
            {% for post in posts %}
            <p>{{ post.title }}</p>
            {% endfor %}
        </div>
        <div class="result_title">
            <p>にあります</p>
            <div class="illustration">
                <p>※未実装</p>
            </div>
        </div>
        {% for post in posts %}
        <div class="result_detail">
            <h1>○【{{ post.title }}】の予約方法</h1>
            <p class="blanck"></p>
            <p>①創価大学ポータルサイトにあなたのアカウントで入ってね</p>
            <p>②「オンラインサービス特集」をクリック！</p>
            <p>③あなたにマッチした学内機関をスクロールして見つける</p>
        </div>
        <div class="result_button">
            <h3><a href="https://plas.soka.ac.jp/csp/plas/login.csp" class="re_button">学内機関を利用する</a></h3>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
