<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>相談内容から相談先を提案します！</title>
</head>

<body>
    <div>
        <h1>
            <p>創価大学内</p>
            <p>機関</p>
            <p>マッチング</p>
        </h1>
        <p>創価大学GCP多様性グループ</p>
        <a>質問スタート</a>
    </div>
    <div>
        <h2>
            <p>プロジェクト</p>
            <p>の概要</p>
        </h2>
        <p>プロジェクトの目的</p>
        <p>創価大学多様性グループは、「見えないところで困難を抱える人」の困難を取り除くことを目的に活動してきました。本プロジェクトでは、その「見えないところ」で困っている人、つまり学内機関とかかわりがない人を主なターゲットとし、学内機関と生徒との壁を取り除くことを目的としています。</p>
    </div>
</body>

</html>
