{% extends 'blog/base.html' %}
{% load static %}
    
{% block content %}
    <div class="green">
        <div class="question">
            <h1>あなたの悩みを教えてね</h1>
        </div>
        <div class="posts">
            {% for post in posts %}
                {% if post.title == "進路" %}
                    <div class="post_one">
                        <a href="{% url 'mid_post_list' pk=post.pk %}" class="post_button">
                            <p>{{ post.title }}</p>
                            <img src="{% static 'Way.jpg' %}" />
                        </a>
                    </div>
                {% endif %}
                {% if post.title == "生活" %}
                    <div class="post_two">
                        <a href="{% url 'mid_post_list' pk=post.pk %}" class="post_button">
                            <p>{{ post.title }}</p>
                            <img src="{% static 'Life.jpg' %}" />
                        </a>
                    </div>
                {% endif %}
                {% if post.title == "学習" %}
                    <div class="post_three">
                        <a href="{% url 'mid_post_list' pk=post.pk %}" class="post_button">
                            <p>{{ post.title }}</p>
                            <img src="{% static 'Study.jpg' %}" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <p class="blanck"></p>
        <div class="center">
            <input type="button" value="戻る" onClick="javascript:history.go(-1);">
        </div>
    </div>
{% endblock %}
